<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments::links">
</head>
<body>
<div class="page">
    <!-- Main Navbar-->
    <header th:replace="fragments::header">
    </header>

    <div class="page-content d-flex align-items-stretch">
        <!-- Side Navbar -->
        <nav th:replace="fragments::sidebar">
        </nav>

        <div class="content-inner">
            <!-- Page Header-->
            <header th:replace="fragments::secondary-header">
            </header>
            <!-- Breadcrumb-->
            <div class="breadcrumb-holder container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index">Home</a></li>
                    <li class="breadcrumb-item active">Tables</li>
                </ul>
            </div>

            <section class="tables">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header d-flex align-items-center">
                                    <h3 class="h4">Koszyk</h3>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                            <tr>
                                                <th>Przedmiot</th>
                                                <th>Ilość</th>
                                                <th>Cena</th>
                                                <th>Wariant wysyłki</th>
                                                <th>Opcje</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="shop  : ${shoppingCart.getItems()}">

                                                <td><p th:text="${shop.getItemName()}"></p></td>
                                                <td><p><select name="numberOfTickets">
                                                    <option value="1" selected="selected">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                </select></p></td>
                                                <td>
                                                    <p th:text="${shop.getPrice()}"></p>
                                                </td>

                                                <td>
                                                    <select name="numberOfTickets">
                                                        <option value="1" selected="selected">Poczta Polska</option>
                                                        <option value="2">Kurier</option>
                                                        <option value="3">Paczkomat</option>
                                                        <option value="4">Odbiór osobisty</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <div>
                                                        <button sec:authorize="isAuthenticated()"><a
                                                                th:href="@{'/shop/remove/' + ${shop.getId()}}">Usuń</a>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                    <div class="card">
                    <div class="card-close">
                    <div class="dropdown">
                    <button type="button" id="closeCard4" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i
                    class="fa0 fa-ellipsis-v"></i></button>
                    <div aria-labelledby="closeCard4"
                    class="dropdown-menu dropdown-menu-right has-shadow"><a href="#"
                    class="dropdown-item remove">
                    <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit">
                    <i class="fa fa-gear"></i>Edit</a></div>
                    </div>
                    </div>
                    </div>
                    </div>
                </div>
            </section>


            <footer th:replace="fragments::footer">
            </footer>
        </div>
    </div>
</div>

</body>
</html>